.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 200px;
}

.signup-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
      0 2px 4px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 490px;
}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
      0 2px 4px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 300px;
}

.login-form h1, .signup-form h1 {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid lightgrey;
    width: 300px;
}

.login-form form, .signup-form form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.login-form label, .signup-form label{
    height: 55px;
}

.error{
    color: red;
}

